<div class="wrapper">
  <div class="side-bar">
    <%= render "posts/side-bar" %>
  </div>
  <div class="side-space"></div>

  <div class="main-contents">
    <div class="main-header">
      <h3 class="title">
        <%= current_user.name %>さんのお気に入り
      </h3>
    </div>
    <hr>
    <div class="posts">
      <% @favorites.each do |favorite| %>
        <% if favorite.post.images.attached? %>
          <% favorite.post.images.each do |image| %>
            <div class="post">
              <%= link_to show_image_room_post_path(favorite.post.room, favorite.post, index: favorite.image_id) do %>
                <%= image_tag image.variant(resize_to_fill: [300, 300, gravity: 'center']).processed, class: 'img-thumbnail' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>  
    </div>
  </div>
</div>
