* {
  box-sizing: border-box;
}

.header-mobile {
  width: 100%;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}

.header-upper {
  height:30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.header-right {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  text-align: center;
}

.header-title {
  text-decoration: none;
  color: black;
}