* {
  box-sizing: border-box;
}

.header-mobile {
  width: 100%;
  height: 108px;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
}

.header-upper {
  height: 30px;
  display: flex;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.header-left {
  width: 30px;
}

.header-center {
  display: flex;
  justify-content: center;
  width: calc(100vw - 30px - 30px);
  padding: 0 12px;
  font-weight: 600;
}

.header-center-content {
  display: flex;
}

.header-right {
  width: 30px;
}

.download-text {
  font-size: 8px
}

.header-title {
  text-decoration: none;
  color: black;
}

.header-bottom {
  margin-top: 20px;
}

.btn-group.dropstart {
  height: 100%;
}



svg.bi.bi-list {
  margin-bottom: 20px;
}