* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.link-btn {
  text-decoration: none;
  color: #000000;
}

.title:hover{
  color: black;
}

.root-title:hover{
  color: black;
}

.link-btn:hover {
  color: #000000;
}

.side-bar {
  width: 250px;
  height: 100vh;
  padding: 1rem;
}

.side-bar-header {
  padding: 0 1rem;
}


.side-bar-header-upper {
  height: 50px;
}

.side-bar-header-upper h3{
  line-height: 50px;
  font-size: 24px;
}

.title {
  line-height: 50px;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}


.rooms {
  height: calc(100vh - 70px);
  overflow: scroll;
}

.side-category {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  line-height: 40px;
  border-radius: 8px;
}

.room {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}


.search-form{
 width: 100%;
}

.form-room_path {
  /* display: flex; */
}

.side-space {
  background-color: rgba(0, 0, 0, .1);
  width: 0.5rem;
  height: 100vh;
}

.main-mobile {
  width: 100vw;
  height: calc(100vh - 50px - 50px);
}

/* PC表示時 */
@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }
  .footer-mobile {
    display: none;
  }
}

/* スマホ表示時 */
@media (max-width: 768px) {
  .wrapper {
    display: block;
  }
  .side-bar {
    display: none;
  }

  .side-space {
    display: none;
  }
}