<footer class='second-footer'>
  <div class='second-footer-text-wrap'>
    <p class='second-footer-text'>プライバシーポリシー</p>
    <p class='second-footer-text'>OriginalApp利用規約</p>
  </div>
  <div class="second-footer-logo">SecondFooter</div>
</footer>