<div class="wrapper">
  <div class="side-bar">
    <%= render 'posts/side-bar'%>
  </div>
  <div class="side-space"></div>
  <div class="header-mobile">
    <%= render 'shared/header'%>
  </div>
  <div class="footer-mobile">
    <%= render 'shared/footer'%>
  </div>
</div>