<% if post.images.attached? %>
  <% post.images.each.with_index do |image, index| %>
    <div class="post">
      <%= link_to show_image_room_post_path(@room, post, index: index) do %>
        <%= image_tag image.variant(resize_to_fill: [300, 300, gravity: 'center']).processed, class: 'img-thumbnail' %>
      <% end %>
    </div>
  <% end %>
<% end %>

