<div class="post">
  <%= link_to room_post_path(@room, post) do %>
    <%= image_tag post.image.variant(resize_to_fill: [300, 300, gravity: 'center']).processed, class: 'img-thumbnail' if post.image.attached? %>
  <% end %>
</div>
