@import "bootstrap";
@import "reset.css";

@import "shared/header.css";
@import "shared/footer.css";
@import "shared/second_header.css";
@import "shared/second_footer.css";
@import "shared/error_messages.css";

// @import "user/login.css";
@import "user/registration.css";

@import "room/index.css";
@import "room/cover.css";

@import "post/index.css";
@import "post/post.css";
@import "post/new.css";
@import "post/show.css";