* {
  box-sizing: border-box;
}

.main-contents {
  width: calc(100vw - 250px - 1rem);
  height: 100vh;
  padding: 1rem 1rem 0 1rem;
  margin: 0 auto;
  overflow: scroll;
}

.main-header {
  width: 930px;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}

.main-header-upper {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content:space-between;
}

.delete-list {
  height: 25px;
  text-align: end;
}

.delete-btn {
  font-size: 14px;
  height: 15px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}

.post {
  width: 310px;
  height: 310px;
}

.main-header-btn {
  text-decoration: none;
}

.post-btn {
  position:fixed;
  bottom: 4rem;
  right: 7rem;
}

/* スマートフォン向けのスタイル */
@media (max-width: 768px) {
  .main-contents {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  .main-header {
    display: none;
  }

  .posts {
    width: 342px;
  }

  .post {
    width: 114px;
    height: 114px;
  }
  /* .post img.img-thumbnail { */
    /* max-width: 100%; 画像の最大幅を親要素に合わせる */
  /* } */
}