.preview {
  width: 120px;
  height: 120px;
  border: 0.5px solid #FFFFFF;
  margin: 20px auto 0;
  object-fit: contain;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.form-wrap {
  border: 1px solid #a8a5a5;
  border-radius: 10px;
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
}

.header-title {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.header-title a{
  text-decoration: none;
  color: black;
}