.show-cover {
  margin: 0 auto;
}

.show-main {
  display: flex;
  justify-content: center;
}

.card-header-wrap {
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.card-header-left {
  display: flex;
  justify-content: space-between;
  width: 3rem;
}

.card-header-right {
  display: flex;
  justify-content: space-between;
}

.show_bottom_btn {
  display: flex;
  justify-content: space-between;
}

.card-header-wrap {
  display: flex;
  align-items: flex-start;
}